@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

span {
    color: #196ae4;
}

.btn {
    background: #196ae4;
    padding: 15px;
    border-radius: 50px;
    color: #fff;
    transition: .5s ease-in ;
}

.btn-border {
    border: 2px solid #196ae4;
    color: #196ae4;
    padding: 5px 30px;
}

.btn:hover {
    opacity: 0.7;
}

i {
    color: #fff;
}

i:hover {
    color: #196ae4;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-bottom: 10px;
    width: 500px;
    text-align: center;
}

.about {
    background: linear-gradient(to right, #196ae4, #9ab8e6);
}

.aboutme {
    padding: 50px 0;
    color: #fff;
}
.aboutme .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutme .col .row {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.aboutme .col .row p {
    margin-left: 50px;
    font-size: 18px;
    line-height: 1.7;
}

.projects {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project {
    display: flex;
    margin: 30px 0;
    gap: 20px;
}
.project-description {
    width: 450px;
}
.project-description p {
    margin: 20px 0;
    line-height: 1.7;
}
.project-description a {
    margin-top: 20px;
    margin-right: 10px;
}

footer {
    background: #000;
    color: #fff;
    padding: 30px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.link {
    margin: 0 50px;
}

@media(max-width: 760px) {
    header h1 {
        width: 300px;
    }
    .aboutme .col .row {
        flex-direction: column;
    }
    .aboutme .col .row img {
        width: 300px;
    }
    .aboutme .col .row p {
        margin-top: 20px;
    }

    .project {
        flex-direction: column;
    }
    .project-description{
        width: 300px;
    }
    .project img {
        width: 300px;
    }
}
